header{
    width: 100%;
    display: flex;
    flex-direction:column;
    .title{
        text-align: right;
        margin-bottom:2em;
    }
}
.banner{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border:solid 2px black;

    .contact{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-transform: uppercase;
    }
    .qrcode{
        width: 33%;
    }
    .imgPerso{
        width: 33%;
    }
}



