.container header{
    margin-bottom:1.8em;
    .title{
        text-align: right;
        margin-bottom:2em;
        line-height: 2.3em;
        letter-spacing: 0.2em;
        h1{
            margin-bottom: 0.2em;
        }
    }
}
.banner{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: $gold;
    color:$cream;
    height: 10rem;
    position:relative;
    align-self: center;

    a{
        color:$cream;
        text-decoration: none;
    }
    .bi{
        font-size: 1.5em;
    }

    
    .contact{
        margin:auto auto auto 21em;
        li{
            line-height: 1.8em;
            text-transform: uppercase;
            i{
                margin-right:0.5em;
            }
        }
    }
    .qr-code{
            margin-right:20px,
    }
    .img-perso{
        bottom:0px;
        position:absolute;
        left:1.5em;
    }
    
}








